/*
cores pricipais 
#017D3F
#01871E
#0D7004 comple #36DB27
#3B8701
#627D01
*/ 
body{
    background-color: #3B8701;
    margin: 0 0 0 0;
}
header {
    background-color: white;
    margin: 0 0 10px 0;
    border-radius: 100px 0 100px 0;
    margin: 1px 3px 7px 3px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
    position: relative;
  }
  
  nav a {
    color: #0D7004;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.5em;
  }
  nav a:hover{
    text-transform: uppercase;
    color: white;
    background-color: #0D7004;
    border-radius: 18px;
  }

  nav li ul {
    position: absolute;
    display: none;
    background-color: #cffdcb;
    color: white;
  }
  
  nav li:hover ul {
    display: block;
  }

  .carousel-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
  }
  
  .carousel {
    display: flex;
    width: 300%;
    animation: slide 20s infinite;
  }
  
  .carousel img {
    flex: 1;
    width: 33.33%;
    object-fit: cover;
  }
  

  
  @keyframes slide {
    0% {
      margin-left: 0;
    }
    33.33% {
      margin-left: 0;
    }
    34% {
      margin-left: -100%;
    }
    66.6% {
      margin-left: -100%;
    }
    67% {
      margin-left: -200%;
    }
    100% {
      margin-left: -200%;
    }
  }
  .info{
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
  }
  .grama{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin: 10px;
  }
  .img1{
    text-align: center;
    background-color: rgba(95, 95, 95, 0.3);
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 0.8em;
  }
  .img1 img{
    border-radius: 10px;
    margin: 10px;
  }
  .img1 p{
    width: 250px;
    text-align: justify;
    margin: 10px;
  }
  .img1 a{
    text-decoration: none;
    color: black;
  }
  .img1:hover{
    background-color: rgb(13, 112, 4, 0.3);
  }
  .img2{
    text-align: center;
    background-color: rgba(95, 95, 95, 0.3);
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 0.8em;
  }
  .img2 img{
    border-radius: 10px;
    margin: 10px;
  }
  .img2 p{
    width: 250px;
    text-align: justify;
    margin: 10px;
  }
  .img2 a{
    text-decoration: none;
    color: black;
  }
  .img2:hover{
    background-color: rgb(13, 112, 4, 0.3);
  }
  .img3{
    text-align: center;
    background-color: rgba(95, 95, 95, 0.3);
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 0.8em;
  }
  .img3 img{
    border-radius: 10px;
    margin: 10px;
    border: 1px ;
  }
  .img3 p{
    width: 250px;
    text-align: justify;
    margin: 10px;
  }
  .img3 a{
    text-decoration: none;
    color: black;
  }
  .img3:hover{
    background-color: rgb(13, 112, 4, 0.3);


  }
  .container{
    
    margin: 0 auto;
    background-color:#073d02;
    display: flex;
    position: relative;
    justify-content: space-around;
  }
  .container li{
    list-style: none;
    
  }
  .container a{
    color: white;
    text-decoration: none;
    
  }
  .container a:hover{
    background-color: white;
    color: #073d02;
    border-radius: 5px;
    margin: 5px;
  }
  .link{
    margin: 15px;
    text-align: justify;
  }
  .link h2{
    color: white;
  }
  
  .social{
    margin: 15px;
    text-align: justify;
  }
  .social h2{
    color: white;
  }
  .copy{
    text-align: center;
    background-color:#0D7004;
    color: white;
  }