body{
    background-color: #3B8701;
    margin: 0 0 0 0;
}
header {
    background-color: white;
    margin: 0 0 10px 0;
    border-radius: 100px 0 100px 0;
    margin: 1px 3px 7px 3px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
    position: relative;
  }
  
  nav a {
    color: #0D7004;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.5em;
  }
  nav a:hover{
    text-transform: uppercase;
    color: white;
    background-color: #0D7004;
    border-radius: 18px;
  }

  nav li ul {
    position: absolute;
    display: none;
    background-color: #cffdcb;
    color: white;
  }
  
  nav li:hover ul {
    display: block;
  }
.texto{
    margin: 0 15px 15px 15px;
    background-color: white;
    display: flex;
    border-radius: 15px;
}
.texto p{
    justify-content: center;
    margin: 15px;
    align-items: center;
    font-size: 1.2em;
}
.campo{
  display: flex;
}
.campo img{
  border-radius: 100px;;
}

.jardim{
  text-align: center;
}
.title{
  text-align: center;
  margin: 0;
  color: #0D7004;
}
.familia{
  display: flex;
}
.familia img{
  margin: 20px;
  border-radius: 50px;
}
.containerimg img{
  text-align: center;
}
.gallery-container img{
  width: 17%;
  padding: 10px;
  border: 1px solid #ccc;
  transition: 0.3s;

}
.gallery-container img:hover{
  transform: scale(1.1);
}